div
	label
		='Количество значений:'
	input(type='text' name='tb_count' id='tb_count' value='5')
	label
		='Данные:'
div(id='input_data')
div(id='calculate')
	input(type='button' id='btn_calc' value='Расчет')
div(id='status_info')
div(id='out_data')

script(lang='javascript' src='https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.min.js')
script(defer)
	include ../public/calc.js
