section(id='in_data')
	header='Ввод данных'
	div
		label(class='label')
			='Дата:'
		input(type='text' name='tb_date' id='tb_date')
	div
		label(class='label')
			='Рабочее место:'
		input(type='text' name='tb_location' id='tb_location')
	div
		label(class='label')
			='Температура:'
		input(type='text' name='tb_temperature' id='tb_temperature')
	div
		label(class='label')
			='Влажность:'
		input(type='text' name='tb_hummidity' id='tb_hummidity')
	div
		label(class='label')
			='Давление:'
		input(type='text' name='tb_pressure' id='tb_pressure')
	div
		label(class='label')
			='Прочие условия:'
		input(type='text' name='tb_other' id='tb_other')
	div
		button(id='btn_write')
			='Записать'

section(id='status')
section(id='out_data')

script(lang='javascript' src='https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.min.js')
script(defer)
	include ../public/conditions.js
