doctype html
html
	head
		title= 'ГГС-03-03'
		style
			include ../public/main.css
	body
		header
			h1= 'Расчет режимов работы ГГС-03-03'
		main
			form(name='calcForm')
				table(id='data_tab')
					tr
						td
							label
						td
							select(name= 'gas')
				input(type='button' id='calcButton' value='Расчитать')
		footer
		script(defer)
			include ../middleware/gases.js
			include ../middleware/forms.js
			include ../middleware/ggs.js
