form(name='calcForm')
	table(id='data_tab')
		tr
			td
				label='Целевой компонент'
			td
				select(name= 'gas')
	input(type='button' id='calcButton' value='Расчитать')
script(defer)
	include ../middleware/ggs/gases.js
	include ../middleware/ggs/forms.js
	include ../middleware/ggs/ggs.js
