doctype html

html
	head
		title=title
		meta(name='viewport' width='device-width' charset='utf-8')
		script(src='https://code.jquery.com/jquery-3.5.1.min.js')
		style
			include ../public/main.css
	body
		header
			h1=header
		nav(id='menu')
			ul(id='menu_items')
		main
			| !{content}
		div(class='clear_both')
		footer
			copyright="ave6990@ya.ru 2021"
script(defer)
	include ../public/main.js
