doctype html

html
    head
        title=title
        meta(charset='utf-8')
        meta(name='viewport' width='device-width')
        script(src='https://code.jquery.com/jquery-3.5.1.min.js')
        style
            include ../public/styles/main.css
    body
        header
            h1=header
        nav(id='menu')
        main
            | !{content}
        footer
            p
                copyright='Copyright © Александр Ермолаев 2021'
            p
                ='e-mail: ave6990@ya.ru'
script(defer)
    include ../public/main.js
