section
	header='Ввод данных'
	div(id='in_data')
	button(id='btn_save')
		='Сохранить'
section(id='status')
section
	header='Результаты'
	div(id='out_data')

script(lang='javascript' src='https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.min.js')
script(defer)
	include ../public/mcalc.js
