style
    include ../public/styles/mi_registry.css
section(id='record')
    header
        ='Сведения о записи Реестра СИ'
    div
        button(id='btn_back')
            ='Вернуться к записям Реестра СИ'
    div(id='record_table_div')
section(id='records')
    header
        span(id='title')
            ='Записи Реестра СИ'
        span(id='records_status')
    section(id='filter')
        div
            label
                ='Номер ГРСИ'
            input(id='registry_number')
        div
            label
                ='Тип СИ'
            input(id='type')
    div
        button(id='btn_previous')
            ='<<'
        span
            ='Страница'
        input(id='tb_page')
        span(id='lbl_page')
        button(id='btn_forward')
            ='>>'
    div(id='records_table_div')
script(defer type='module')
    include ../public/mi_registry.js
