form(name='upload')
	div
		label
			='Выберите файл:'
		input(type='file' name='csv_file' id='file')
	div
		input(type='button' name='btn_upload' value='Загурзить файл')
	div
		table(id='out_data')
script(src='https://code.jquery.com/jquery-3.5.1.min.js')
script(lang='javascript' src='https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.min.js')
script(defer)
	include ../public/upload.js
		
