body {
	padding: 20px;
	color: #555;
	background: #eee;
	font-size: 18pt;
}
h1 {
	font-size: 24pt;
	margin: 0;
	padding-bottom: 10px;
}

input, select {
	font-size: 14pt;
}

.button {
	font-size: 16pt;
	background: #fff;
}