html {
	background: #bbb;
}

body {
	margin: 20px;
	color: #555;
	background: #eee;
	font-size: 18pt;
}
header, footer {
	padding: 10px;
	color: #eee;
	background: #333;
}

main {
	padding: 20px;
}

footer {
	text-align: center;
}

h1 {
	font-size: 24pt;
	margin: 0;
	padding-bottom: 10px;
}

#page_num {
	width: 30px;
	min-width: 30px;
}

input, select {
	font-size: 14pt;
	min-width: 150px;
}

.label {
	display: inline-block;
	width: 300px;
}

.button {
	font-size: 16pt;
	background: #fff;
	min-width: 30px;
	border-style: solid;
	border-width: 1px;
}

table {
	display: block;
	border-collapse: collapse;
	background: #ffffff;
	margin-top: 10px;
	overflow: scroll;
}

td {
	font-size: 12pt;
	border-width: 1px;
	border-style: solid;
	border-color: #222222;
	padding: 1px;
	margin: 0px;
}
