html {
    background: #ddd;
    height: 100%;
}

body {
    margin: 0px;
    color: #222;
    background: #fcfcfc;
    font: 12pt sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin: 10px;
    flex-grow: 1;
}

section {
    margin: 5px;
}

section header {
    font-size: 12pt;
    border-radius: 10px;
}

form {
    margin: 10px 0;
}

nav, footer, header {
    font-size: 18px;
    padding: 6px;
    background: #034769;
    color: #fafafa;
}

nav {
    display: flex;
}

main > nav {
    border-radius: 10px;
}

nav a {
    margin: 0;
    padding: 0 10px;
    border-right: 2px solid #086fa1;
}

nav a:link, nav a:visited {
    color: #fafafa;
    text-decoration: none;
}

nav a:hover {
    background: #086fa1;
}

footer {
    text-align: center;
    flex-shrink: 0;
}

h1 {
    font-size: 18pt;
    margin: 0;
    padding-bottom: 10px;
}

p {
    margin: 0;
}

label {
    display: block;
}

#tb_page {
    width: 60px;
    min-width: 30px;
}

input, select, button, textarea {
    margin: 5px;
    font-size: 12pt;
    min-width: 150px;
    border-color: #086fa1;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

textarea {
    height: 100px;
    resize: none;
}

button {
    color: #222;    
    min-width: 30px;
}

table {
    display: block;
    border-collapse: collapse;
    background: #ffffff;
    margin-top: 10px;
    overflow: scroll;
}

thead {
    background: #f1f1f1;
}

td, th {
    font-size: 10pt;
    border-width: 1px;
    border-style: solid;
    border-color: #086fa1;
    padding: 3px;
    margin: 0px;
}

hr {
    background: #086fa1;
    border-color: #086fa1;
}

#main_section {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.selected_row {
    background: #afdefa;
}

.info {
    font-size: 10pt;
    background: #f3f3f3;
}

.clear_both {
    clear: both;
}


.flex_form {
    display: flex;
    flex-wrap: wrap;
}

.flex_form div {
    width: 220px;
}

#edit_section {
    /*max-height: 50%;*/
    overflow-y: scroll;
}

.grid_3c {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
}

.bordered {
    border: 2px solid #086fa1;
}

.no_margin {
    margin: 0;
}
