#filter {
    display: flex;
    display-direction: column;
}

input {
	width: 95%;
}

#records > header {
    display: flex;
    flex-direction: row;
    min-width: 100%;
}

#title {
    flex-grow: 0.25;
}

.gray {
	background: #f3f3f3;
}
